body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000000; /* giallo scuro */
    color: white;
    
}

.container {
    display: grid;
    grid-template-columns: 200px 1fr 250px;
    grid-template-rows: auto;
    height: 100vh;
 
}


.logo {
    width: 100px;
    margin-top: 5px;
    margin-left: 5px;
}

.nav{
	border-right:0px;
}


.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
}

.nav li {
    margin: 15px 0;
  display: inline;
  float: left;
}


.nav a {
 display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav a:hover {
    color: #43bf0a;
  background-color: #000000; /* arancio */
}

.active {
  background-color: #43bf0a;
}

.main-content {
    padding: 70%x;
    background-color: #000000;
}

.citta-image {
    width: 70%;
    height: auto;
    border-radius: 10px;
    margin-top: 30px;
    display: block;
  margin-left: auto;
  margin-right: auto;
}

.prodotti {
    margin-top: 30px;
}

.product-grid {
    display: flex;
    gap: 20px;
    margin-top: 15px;
    
}

.product-item {
    background-color: #43bf0a;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
}

.product-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
}


 form {
    display: flex;
    justify-content: center;
    margin-top: 0px;
    margin-left: 300px;
    align-items:right;
  }

  input[type="search"] {
 
 color: white;
  background-color: #000000;
  padding: 15px;
  width: 400px;
  border: 4px solid #43bf0a;
  box-shadow: 0 0 10px #43bf0a;
  border-radius: 4px;
  }

  button {
  background-color: #000;
  color: #43bf0a;
  border: 2px solid #43bf0a;
  padding: 10px;
  font-family: 'Press Start 2P', monospace;
  font-size: 12px;
  }

  button:hover {
    background-color: #51a833;
  }
  

  
